@model Movie

<h2>Details for @Model.Name</h2>
<p>Id: @Model.Id</p>
<p>Release Year: @Model.ReleaseYear</p>
<p>Genre: @Model.Genre</p>
<p>Run Time: @Model.RunTime</p>


<a asp-action="Index" asp-controller="Home"><p>Back to Index</p></a>